################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NISHakaton2018/.vs/NISHakaton2018/v15/Server/sqlite3
